.center{
    text-align: center;
}
.logo{
    height: 100px;
    width: 200px;;
    display: flex;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: -900px;
    margin-left: 1705px;;
}

body{
    background-color: black;
}

p{
color:white;
}

h1{
    color: white;
}

h4{
    color: white;
}

a{
    color: white;
}

.index-img{
    margin-left:550px;
}

.logo2{
    margin-left:400px;
}

.kontakt{
font: sizepx;
color: white;
}

li{
color: white;
}